



  .navv{


    background: linear-gradient(to right, #cc5333, #23074d);
    height: 50px;
  }

  .btn3{

  
    margin-left: 800px;

  }

  

/* 
  html {   background: url(https://images.steelcase.com/image/upload/c_fill,q_auto,f_auto,h_574,w_764/v1659429513/work_from_home.jpg) no-repeat center center fixed;   -webkit-background-size: cover;   -moz-background-size: cover;   -o-background-size: cover;   background-size: cover; } */